# Q&A Activity Question Week -06

In [1]:
import numpy as np
import pandas as pd

dataset=pd.read_excel(r'C:\Users\DELNA.RAPHEL\Desktop\New folder\Dataset_w6.xlsx')
dataset.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

# 1.	Find out how many countries are there in the dataset.

In [2]:
num_of_countries=dataset['country'].count()
print('No. of countries is',num_of_countries)

No. of countries is 196

# 2.	Find out how many countries with respect to the region are available in the dataset

In [3]:
a=dataset.groupby(["Region"]).count()
countries_by_region=a[['country']]
print('No. of countries wrt to region are:')
countries_by_region

No. of countries wrt to region are:

                   country
Region
Caribbean               16
CentralAmerica           8
CentralAsia              5
EasternAfrica           17
EasternAsia              7
EasternEurope           10
Melanesia                5
Micronesia               4
MiddleAfrica             9
NorthernAfrica           5
NorthernAmerica          4
NorthernEurope          10
Oceania                  2
Polynesia                5
South-easternAsia       11
SouthAmerica            12
SouthernAfrica           5
SouthernAsia             9
SouthernEurope          12
WesternAfrica           15
WesternAsia             18
WesternEurope            7

# 3.	On average which region has the highest
a.	GDP per capita (current US$)

In [4]:
b=dataset.groupby(["Region"]).mean()

c=b['GDP per capita (current US$)'].sort_values(ascending=False)

print('The region has the highest GDP per capita (current US$)is ')
c.head(1)

The region has the highest GDP per capita (current US$)is

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

# b.	International trade: Imports (million US$)

In [5]:
d=b['International trade: Imports (million US$)'].sort_values(ascending=False)
print('The region has the highest International trade: Imports (million US$) is ')
d.head(1)

The region has the highest International trade: Imports (million US$) is

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

# 4.	Find out which region has more consistent with respect to GDP per capita (current US$)

In [6]:
f=dataset.groupby(["Region"]).std()
s=f['GDP per capita (current US$)'].sort_values()

print('Region has more consistent with respect to GDP per capita (current US$ is')
s.head(1)

Region has more consistent with respect to GDP per capita (current US$ is

Region
WesternAfrica    815.095399
Name: GDP per capita (current US$), dtype: float64

# INSIGHTS

* North American is having the highest GDP per capita.Bermuda and USA contributes the most to this.And also as this region is having less number of countries, GDP is having the higher value.
* Luxembourg in WesternEuropean region is having the highest GDP.Somalia in Eastern Africa is the least one.
* Kuwait in	WesternAsia in having highest Agricultural production index.China, Hong Kong SAR is having the least.